---
import SiteLayout from '../../layouts/SiteLayout.astro';
---
<SiteLayout title="Legal Notice – Teraport" lang="en" altHref="/de/impressum/">
  <article class="tp-container prose">
    <h1>Legal Notice</h1>

    <p>
      Teraport GmbH<br />
      Kellerstr. 29<br />
      81667 Munich, Germany
    </p>

    <p>Represented by the managing director: Raphael Heilig</p>

    <p>
      Phone: <a href="tel:+4989651086700">+49 (0)89 651086 700</a><br />
      E-mail: <a class="email" data-u="info" data-d="teraport.de">info(at)teraport.de</a>
    </p>

    <p>
      Commercial register: Amtsgericht München, HRB 210303<br />
      VAT ID: DE 274 208 097
    </p>

    <p>Responsible for editorial content pursuant to § 18 (2) MStV: Raphael Heilig</p>

    <p class="teaser">Image sources: www.photocase.de, www.fotolia.de, www.istockphoto.com</p>
  </article>
</SiteLayout>
