---
import SiteLayout from '../../layouts/SiteLayout.astro';
---
<SiteLayout title="Impressum – Teraport" lang="de" altHref="/en/legal-notice/">
  <article class="tp-container prose">
    <h1>Impressum</h1>

    <p>
      Teraport GmbH<br />
      Kellerstr. 29<br />
      81667 München
    </p>

    <p>Vertreten durch den Geschäftsführer: Raphael Heilig</p>

    <p>
      Tel.: <a href="tel:+4989651086700">+49 (0)89 651086 700</a><br />
      E-Mail: <a class="email" data-u="info" data-d="teraport.de">info(at)teraport.de</a>
    </p>

    <p>
      Registergericht: Amtsgericht München, HRB 210303<br />
      USt-IdNr.: DE 274 208 097
    </p>

    <p>Verantwortlich i. S. d. § 18 Abs. 2 MStV: Raphael Heilig</p>

    <p class="teaser">Bildquellen: www.photocase.de, www.fotolia.de, www.istockphoto.com</p>
  </article>
</SiteLayout>
